* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: 'Lato', sans-serif;
}

.Header {
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
.toggle {
    display: none;
}

.toggle i {
    font-size: 32px;
}

.search input {
    text-align: center;
    width: 200px;
    height: 25px;
    border-radius: 25px;
    border: none;
}

.Header .image img {
    width: 100px;
    min-width: 100px;
    height: 50px;
    min-height: 20px;
    border-radius: 20px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

.content li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    transition: 0.3s ease;

}

.content li a:hover,
.content li a.active {
    color: #088178;
}

.content li a.active::after,
.content li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.second-header {
    background-image: url("webasserts/1152281-women-model-simple-background-short-hair-Asian-white-dress-dress-fashion-hands-on-hips-wedding-dress-spring-clothing-Masami-Nagasawa-bride-dance-arm-gown-photo-shoot.jpg");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 20% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.second-header button {
    background-color: black;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
}

.second-header button.hover,
.second-header button.active {
    color: #088178;
}

.second-header button.hover::after,
.second-header button.hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
}

.Product-container {
    text-align: center;
    margin-top: 70px;
    font-size: 20px;
}

main {
    display: grid;
    grid-gap: 70px 20px;
    grid-template-columns: repeat(5, 1fr);
    width: 90%;
    margin: auto;
    padding-bottom: 40px;
}

main .product {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    padding: 8px 10px;
}

.product img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

main .product:hover {
    box-shadow: 1px 6px 3px 0 rgb(185, 185, 185);
}

h2 {
    font-size: 40px;
}

h1 {
    font-size: 40px;
    color: blue;
}

h4 {
    font-size: 20px;
}
.Second-container {
    display: grid;
    grid-gap: 70px 20px;
    grid-template-columns: repeat(5, 1fr);
    width: 90%;
    margin: auto;
    padding-bottom: 40px;
}

.Second-container .product-second {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    padding: 8px 10px;
}

.product-second img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.Second-container .product-second:hover {
    box-shadow: 1px 6px 3px 0 rgb(185, 185, 185);
}

.footer {
    width: 100%;
    background-color: rgb(29, 29, 29);
    color: white;
    letter-spacing: 1px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-transform: uppercase;
    font-size: 15px;
    padding: 15px 300px;
    box-sizing: border-box;
}
.footer h3:hover, .webfooter p:hover
{
    color: lightslategray;
    cursor: pointer;
}

.webfooter {
    padding-top: 30px;
    font-size: 12px;
   
}
/* contactcss */
.particles{
    background-color: white;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid black;
    border-radius: 10px;
    margin:auto;
    margin-top: 20px;
    height: fit-content;
    max-width: 50%;
    width: 20%;
}
.particles .items{
    text-align: center;
}

.particles .users .password {
    font-size: 12px;
}
.particles .username{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    gap: 5px;
}
.particles .username input{
    padding: 5px 5px;
    border: none;
    width: 100%;
} 
.particles .Email input{
    padding: 5px 5px;
    border: none;
    border-bottom: 1px solid gray;
    width: 100%;
}
.particles .phonenumber input{
    padding: 5px 5px;
    border: none;
    border-bottom: 1px solid gray;
    width: 100%;
}
 .particles button{
  background-color: black;
    width: 100%;
    border-radius: 30px;
    color: white;
    padding: 10px 10px;
    border: none;
}   
.signup{
    text-align: center;
}
.login{
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    align-items: center;
}
.login a i{
    width: 100%;
    font-size: xx-large;
}

@media only screen and (max-width: 768px) {
    .toggle {
        display: block;
        cursor: pointer;
    } 
    .Header {
        width: 200%;
    }
    .active{
        background-color:grey;
    }
    .active .nav-item {
        display: block;
    }
    .active .nav-item:hover {
        background-color: #0d0e0d;
    }
    .active .nav-item a:hover {
        color: #7a7a7a;
        text-decoration: none;
    }
    .content .nav-menu {
        position: absolute;
        left: 0;
        top: 70px;
        right: 0;
    }
    .nav-menu li {
        margin: 0 auto;
    }
    .nav-item {
        text-align: center;
        display: none;
    }
    .nav-item a {
        display: block;
        padding: 15px;
        font-weight: 700;
        color: #1D263B;
    }
    .second-header {
        width: 200%;
    }

    main {
        width: 200%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }
    .Second-container{
        width: 200%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    footer{
        width: 200%;
    }
}
